<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webmyne.paylabas_affiliate" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".base.Launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.MyDrawerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".base.VerificationActivity"
            android:label="@string/title_activity_verification" >
        </activity>
        <activity
            android:name=".giftcode.GiftCodeActivity"
            android:label="@string/title_activity_gift_code" >
        </activity>
        <activity
            android:name=".mobile_topup.MobileTopupActivity"
            android:label="@string/title_activity_gift_code" >
        </activity>
    </application>

</manifest>
